
body {
	margin: 0;
	padding: 50px 0 0 0;
	font: 15px/1.6 Helvetica, Arial, sans-serif;
}

.line {
	stroke: RGB(243, 42, 100);
	stroke-width: 2px;
	fill: none;
}

.axis text {
	font: 9px sans-serif;
}

.axis path,
.axis line {
	stroke: RGB(230, 237, 244);
}

.TwoPointScaling.line {
	stroke: steelblue;
	stroke-width: 2px;
	fill: none;
}

.TwoPointScaling.dot {
	fill: steelblue;
	stroke-width: 2px;
	stroke: #fff;
}

.TwoPointScaling.crosshair {
	stroke: lightgrey;
	stroke-width: 1px;
	fill: none;
	shape-rendering: crispEdges;
}

.TwoPointScaling.crosshair.is-hovered,
.TwoPointScaling.crosshair.is-focused {
	stroke: steelblue;
}

.TwoPointScaling.hint {
	font-size: 9px;
	cursor: pointer;
}

.TwoPointScaling.hint rect {
	fill: #fff;
	stroke: #ddd;
}

.TwoPointScaling.hint.is-hovered rect,
.TwoPointScaling.hint.is-focused rect {
	stroke: steelblue;
}
